<script type="text/template" id="tplSandbox">
    <pre class="output"></pre>
    <div class="input">
        <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
    </div>
</script>

<script type="text/template" id="tplCommand">
    <% if (! _hidden) { %><span class="command"><%= command %></span>
        <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
        <% } %>
</script>

<style>
    body {
        font-size: .875rem;
        font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    }
    
    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
    
    .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
    }
    
    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
    
    .bodycolor {
        background-color: #fff;
    }
    
    .border-top {
        border-top: 1px solid #e5e5e5;
    }
    
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .top-btn {
        margin-right: 5px;
    }
    
    .top-nav span {
        color: #17093C;
    }
    
    .control-tabs {
        margin-bottom: 10px;
    }
    
    #particula {
        width: 100%;
        height: 100%;
        color: ##fff;
    }
    
    .h2 {
        color: #fff
    }
    
    .iterations-output {
        margin-right: 10px;
    }
    
    .header-info {
        margin-right: 20px;
    }
    
    .no {
        background-color: #fff;
        margin: 3px;
        padding-top: 15px;
        border: 1px solid #999;
        overflow: hidden;
        overflow-y: scroll;
        text-transform: lowercase;
    }
    
    .copy-icon {
        margin-right: 10px;
    }
    
    .clickable {
        cursor: pointer;
    }
    
    .clickable {
        cursor: pointer;
    }
    
    #toolbox {
        position: absolute;
        top: 1;
        left: 0;
        margin-bottom: 0.5em;
        margin-left: 1em;
        border: 2px solid #EEEEEE;
        border-radius: 5px;
        padding: 1em;
        z-index: 5;
    }
    
    #toolbox input {
        width: 30px;
        opacity: 0.4;
    }
    
    #toolbox input:hover {
        opacity: 1;
        cursor: pointer;
    }
    
    #hidden-file-upload {
        display: none;
    }
    
    #download-input {
        margin: 0 1em;
    }
    
    .cyan {
        background-color: cyan;
    }
    
    .dg.main.taller-than-window .close-button {
        border-top: 1px solid #ddd;
    }
    
    .dg.main .close-button {
        background-color: #ccc;
    }
    
    .dg.main .close-button:hover {
        background-color: #ddd;
    }
    
    .dg {
        color: #555;
        text-shadow: none !important;
    }
    
    .dg.main::-webkit-scrollbar {
        background: #fafafa;
    }
    
    .dg.main::-webkit-scrollbar-thumb {
        background: #bbb;
    }
    
    .dg li:not(.folder) {
        background: #fafafa;
        border-bottom: 1px solid #ddd;
    }
    
    .dg li.save-row .button {
        text-shadow: none !important;
    }
    
    .dg li.title {
        background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
    }
    
    .dg .cr.function:hover,
    .dg .cr.boolean:hover {
        background: #fff;
    }
    
    .dg .c input[type=text] {
        background: #e9e9e9;
    }
    
    .dg .c input[type=text]:hover {
        background: #eee;
    }
    
    .dg .c input[type=text]:focus {
        background: #eee;
        color: #555;
    }
    
    .dg .c .slider {
        background: #e9e9e9;
    }
    
    .dg .c .slider:hover {
        background: #eee;
    }
</style>
<div id="particula"></div>

<!-- body container -->
<div style="display:none" class="container-fluid">
    <!-- container row -->
    <div class="row">

        <!-- container main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">

            <!-- control bar -->
            <div style="display:none" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">max: </span>
                </div>
                <!-- iteration control -->
                <input type="text" class="form-control" id="num-iterations-input" placeholder="1" />
                <span class="iterations-output num-iterations" id="control-status-label">x</span>
                <!-- iteration buttons -->
                <div class="btn-group top-btn" role="group">
                    <button type="button" id="btn-advance" class="btn btn-success">></button>
                    <button type="button" id="btn-run" class="btn btn-success">>></button>
                    <button type="button" id="btn-pause" class="btn btn-warning">||</button>
                    <button type="button" id="btn-reset" class="btn btn-danger">x</button>
                </div>
                <!-- quick status-->
                <div class="input-group-append">
                    <span class="input-group-text alert-success" id="quick-status">Ready</span>
                </div>
            </div>


        </main>
    </div>