<script type="text/template" id="tplSandbox">
    <pre class="output"></pre>
    <div class="input">
        <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
    </div>
</script>

<script type="text/template" id="tplCommand">
    <% if (! _hidden) { %><span class="command"><%= command %></span>
        <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
        <% } %>
</script>

<style>
    body {
        font-size: .875rem;
        font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    }
    
    #particula {
        width: 100%;
        height: 100%;
        color: #fff;
    }
</style>

<div id="particula"></div>